.bx-badge-container {
	display: table;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 15;
}
.bx-badge-container:hover {
	z-index: 1;
}
.bx-badge-inner {
	display: table-cell;
}

.bx-badge-container .bx-badge-inner img {
    width: 100%;
}

.bx-badge-delivery{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
}

.bx-badge-certificate {
    position: absolute;
    top: 0px;
    left: 40%;
    width: 100px;
}

.bx-badge-stock{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100px;
}

.bx-badge-discount {

}

.bx-badge-gift {

}
