.ch-slider-container {
	padding: 0px -15px;
}

.ch-carousel-indicators {
	display: inline-block;
	margin: 0px 5px;
	width: 100px;
	height: 10px;
	background-color: red;
}

.ch-slider-wrapper {

}

.ch-slider-img-container {
	height: 469px;
}

.ch-slider-video-container {
	height: 469px;
}

.ch-slider-img-center {

}

