/* -- CAROUSEL -- */
.cs-carusel {

}

/* -- Carousel indicators -- */
.cs-carousel-indicators {
	display: inline-block;
	width: 83px !important;
	height: 5px !important;
	background-color: rgb( 60, 59, 59 );
	opacity: 0.502;
	cursor: pointer;
}

/* -- Carousel inner -- */
.cs-height {
	height: 469px;
}
.cs-inner-img {
	position: absolute;
}
.cs-inner-video {
	height: 100%;
}

/* -- Control -- */
.cs-carousel-control {
	position: absolute;
	top: 50%;
	margin: auto 10%;
	width: 80%;
	height: 0%;
}
.cs-carousel-control a:hover, a:visited {
	text-decoration: none;
	color: white;
}
.cs-carousel-control-button {
	position: relative;
	background-color: rgba(0,0,0, 0.1);
	color: rgba(255,255,255, 0.6);
	width: 48px;
	height: 80px;
	text-align: center;
}
.cs-carousel-control-button:hover {
	background-color: rgba(0,0,0, 0.2);
	color: rgba(255,255,255, 1);
}
.cs-carousel-control-button.left {
	float:left;
}
.cs-carousel-control-button.right {
	float:right;
}
.cs-text {
	font-size: 1.5em;
}
.cs-center {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.carousel-inner .carousel-item {
	transition: -webkit-transform 2s ease-in-out;
	transition: transform 2s ease-in-out;
	transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
}